## General

# build, distribute, and bins (+ python proto bindings)
.build_debug/*
.build_release/*
Release
Debug
x64
distribute/*
*.testbin
*.bin
python/caffe/proto/
cmake_build
.cmake_build
3rdparty
bin
*.sdf
*.opensdf
*.pdb
*.rar
*.lib
*.dll
*.exp
*.deps
*.pyd
*.user
*.log
# LevelDB files
*.sst
*.ldb
LOCK
LOG
LOG.old
CURRENT
MANIFEST-*
.vs/
*.user
.github/
/build/lib
/build/FdLevelDB/utils/__pycache__
/build/FdLevelDB.egg-info
/build/build

/build/dist
*.idb
