[submodule "leveldb/third_party/googletest"]
	path = leveldb/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "leveldb/third_party/benchmark"]
	path = leveldb/third_party/benchmark
	url = https://github.com/google/benchmark
